source ~/anaconda3/etc/profile.d/conda.sh 

# Set the VIRTUAL_ENV to the name of this directory
export VIRTUAL_ENV=$(basename $(pwd))

# Check if the conda environment exists, if not, create it
if ! conda info --envs | grep -q "^$VIRTUAL_ENV\s"; then
    echo "Conda environment '$VIRTUAL_ENV' not found. Creating it..."
    conda env create -f environment.yml
else
    echo "Conda environment '$VIRTUAL_ENV' found"
    echo "If you want to update the environment, run 'conda env update -f environment.yml'"
fi

# Activate the conda environment
conda activate $VIRTUAL_ENV